body {
    margin: 0;
    padding: 0;
    font-family: 'Hi Melody', cursive;
}

.card1 {
    width: 75%;
    float: left;
}

.card2 {
    width: 75%;
    float: right;
}

.card3 {
    width: 75%;
    float: left;
}